.container {
    width: 770px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.info {
    color: #003399;
    display: flex;
    text-align: center;
    padding-top: 13px;
}
.item {
    padding-left: 20px;
    cursor: pointer;
}
.line {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}
.number {
    font-weight: 400;
    font-size: 288px;
    color: #F27C0F;
    font-family: 'Roboto', sans-serif;
    line-height: 339px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.buttons {
    display: flex;
    margin-top: 30px;
}
.increase {
    width: 200px;
    height: 58px;
    background: #003399;
    border-radius: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    color: white;
    margin-left: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.decrease {
    width: 200px;
    height: 58px;
    background: #F27C0F;
    border-radius: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    color: white;
    margin-left: 55px;
    margin-right: 55px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.reset {
    width: 200px;
    height: 58px;
    background: #E5E5E5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin-right: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.footer {
    margin-top: 350px;
    display: flex;
}
.footerMenu {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}
.secondItem {
    padding-left: 30px;
    padding-top: 6px;
    cursor: pointer;
}
.copyright {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 500;
    padding-top: 6px;
    padding-left: 140px;
}